::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #e4572e;
}

.text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.modal {
    background: rgba(18, 18, 18, 0.3);
}

.dark .modal {
    background: rgba(255, 255, 255, 0.3);
}

.lds-ring {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    margin: 2px;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}